ssl:
  protocols: 'SSLv3'
  cipher-suites: 'SSL_RSA_WITH_RC4_128_MD5,SSL_RSA_WITH_RC4_128_SHA'
  certificate:
    cipher-algorithm: 'MD5WITHRSA'
  debug:
    enabled: ${SSL_DEBUG_ENABLED:false}
tcp:
  # Must be machine IP if hosting for other machines. Must be WSL IP if using docker through WSL (local only)
  host: ${TCP_HOST_IP:127.0.0.1}
  port: 11100
  debug:
    enabled: ${TCP_DEBUG_ENABLED:false}
    exclusions: '~png'
tos:
  enabled: ${TOS_ENABLED:true} # Stats socket servers on port 80 and 443 to handle TOS HTTP(S) requests
ssc2:
  key: 51ba8aee64ddfacae5baefa6bf61e009
game:
  close-expired: ${GAME_CLOSE_EXPIRED:true}
uhs:
  ea-server-mode: false
  auto-start: true

spring:
  datasource:
    url: ${DB_URL}
    port: ${DB_PORT:5432}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
#  jpa:
#    hibernate:
#    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true

# List of games that are hosted by the server, remove unneeded games
hosted-games: mohh_psp_pal,mohh_psp_ntsc,mohh2_psp_pal,mohh2_psp_ntsc,mohh2_wii_pal,mohh2_wii_ntsc

---

spring:
  config:
    activate:
      on-profile: dev
  h2:
    console:
      enabled: true
      path: /h2
      settings:
        web-allow-others: true
  datasource:
    url: jdbc:h2:mem:ea-nation;DB_CLOSE_DELAY=-1
    username: sa
    password: sa
    driver-class-name: org.h2.Driver
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master-populate.yaml

tcp:
  debug:
    enabled: true
game:
  close-expired: false
